{% extends "blog/base.html" %}

{% block content %}
{% for post in posts %}
<article class="bg-gradient-to-br hover:bg-gradient-to-tl from-stone-500 to-stone-800 shadow-md rounded-lg p-6 mb-6">
  <div>
    <div class="flex items-center justify-between text-sm text-yellow-500 mb-2">
      <a href="#" class="text-amber-200 hover:underline">{{ post.author }}</a>
      <span>{{ post.date_posted }}</span>
    </div>
    <h2 class="text-xl font-semibold text-amber-300 mb-2">
      <a href="#" class="hover:text-stone-900">{{ post.title }}</a>
    </h2>
    <p class="text-orange-100">{{ post.content }}</p>
  </div>
</article>

{% endfor %}
{% endblock content %}
